.content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    padding: 30px;
    width: 100%;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(150px,1fr)
    );
    gap:32px;
}
